@(message: String) 

@main("Welcome to My Play") {


<div
	style="background-color: #3F4042; height: 100px; font-size: medium; color: yellow">
</div>
<div align="center">
	<br> <br> <br>
	<form action='/createDatabase' method="POST">
		<div align="left" style="color: #DBA901; width: 30%;">Logged in
			as: Jason</div>
		<br>

		<table frame="box" style="width: 30%">
			<tr style="height: 10px">
			</tr>
			<tr>
				<td>Database Name:</td>
				<td><input type="text" name="DatabaseName" /></td>
			</tr>
			<tr style="height: 10px">
			</tr>
			<tr style="height: 10px">
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" Value="Submit">
					<input type="button" name="cancel" Value="Cancel"
					formaction="/dashboard" method="GET"></td>
			</tr>
			<tr style="height: 10px">
			</tr>
		</table>
		<br>
	</form>
	<div align="left" style="color: #DBA901; width: 30%;">

		<h4>Database service details</h4>
		<ul>
			<li>Operating system</li>
			<li>MySQL Database installed</li>
			<li>No. of VMs : 1</li>
		</ul>

	</div>
</div>

}
