@(message: String, username: String , userid: String)

@main("Welcome to My Play") {


<div style="background-color: #3F4042; height: 100px;font-size: medium;color: yellow">
</div>
<div align="center">
<br>
<br>
<br>
<div align="left" style="color: #33bdef; width: 30%;font-size: xx-large;">Logged in as: @username </div>
<br>
<form action="/create" method="post">
 		<table frame="box" style="width: 30%" >
 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Website Name:
	 			</td>
	 		
	 			<td>
	 			<input type="text" name="webname" name="webname" required="required" />
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Plan:
	 			</td>
	 		
	 			<td>
	 			<input type="radio" name="plan" Value="smallWebsite" required="required"> Silver
	 			
	 			<input type="radio" name="plan" Value="bigWebsite" required="required"> Gold
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			
	 			</td>
	 		
	 			<td>
	 			<input  class="myButton"  style="padding:7px 18px;" type="submit" name="submit" Value="Submit"/>
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
 		</table>
 		<br>
 		
 		<div align="left" style="color: #33bdef; width: 30%;">
 		
 		<h4>Silver:</h4>
 		<b><ul>	
 			<li>RAM: 512MB</li>
 			<li>Storage: 3GB</li>
 			<li>No. of VMs : 1</li>
 			</ul></b>
 		<h4>Gold:</h4>
 		<b><ul>
 			<li>RAM: 1GB</li>
 			<li>Storage: 5GB</li>
 			<li>No. of VMs : 2</li>
 			</ul></b>
 		
 		</div>
 		@message
</div>
    </form>	
}




