@(message: String)

@main("Welcome to My Play") {


<div style="background-color: #3F4042; height: 100px;font-size: medium;color: yellow">
</div>
<div align="center">
<br>
<br>
<br>
<div align="left" style="color: #DBA901; width: 30%;">Logged in as: Jason </div>
<br>

 		<table frame="box" style="width: 30%" >
 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Website Name:
	 			</td>
	 		
	 			<td>
	 			<input type="text" name="webname" />
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Plan:
	 			</td>
	 		
	 			<td>
	 			<input type="radio" name="plan" Value="smallWebsite"> Silver
	 			
	 			<input type="radio" name="plan" Value="bigWebsite"> Gold
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			
	 			</td>
	 		
	 			<td>
	 			<input type="submit" name="submit" Value="Submit"> 
	 			<input type="button" name="cancel" Value="Cancel"> 
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
 		</table>
 		<br>
 		
 		<div align="left" style="color: #DBA901; width: 30%;">
 		
 		<h4>Silver:</h4>
 		<ul>	
 			<li>RAM: 512MB</li>
 			<li>Storage: 3GB</li>
 			<li>No. of VMs : 1</li>
 			</ul>
 		<h4>Gold:</h4>
 			<ul>
 			<li>RAM: 1GB</li>
 			<li>Storage: 5GB</li>
 			<li>No. of VMs : 2</li>
 			</ul>
 		
 		</div>
</div>
    
}




