@(message: String)


@main("Welcome to My Play") {

<div style="background-color: #3F4042; height: 100px;font-size: medium;color: white">
</div>
<div align="center">
<br>
<br>
<br>
<div align="left" style="color: #33bdef; width: 30%; font-size: xx-large"><b>Create Account</b></div>
<br>
<form action="/createuser" method="post">
 		<table frame="box" style="width: 30%" >
 		<tr style="height: 10px">
	 		</tr>
	 		<tr >
	 			<td>
	 			User Name:
	 			</td>
	 		
	 			<td>
	 			<input id="username" type="text" name="username" required="required" placeholder="User Name"/>
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Password:
	 			</td>
	 		
	 			<td>
	 			<input id="password" type="password" name="password" required="required" placeholder="Password"> 
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			Confirm Password:
	 			</td>
	 		
	 			<td>
	 			<input id="cpassword" type="password" name="cpassword" required="required" placeholder="Password again"> 
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
	 		<tr>
	 			<td>
	 			
	 			</td>
	 		
	 			<td>
	 			<input  class="myButton" style="padding:7px 18px;" type="submit" name="signup" Value="Sign Up">
	 			<input  class="myButton" style="padding:7px 18px;" type="reset" name="reset" Value="Reset">
	 			</td>
	 		</tr>
	 		<tr style="height: 10px">
	 		</tr>
 		</table>
 		<br>
 		<a class="myButton" href="@{routes.Application.login()}">Login </a>
 		<br>
 		<br>
 		<br>
 		@message
 	</form>	
</div>
    
}




